@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("./form.webp");
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    margin-left:28vw ;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 100px;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}
#message{
    margin-left:28vw ;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:blue;
}
#container{
    margin:50px;
    margin-left: 1vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:whitesmoke;
    display:flex;
    width:700px;
    height:430px;
    border-radius: 15px;
    
    
}
#main{
    display: flex;
}
 #male img{
    width:320px;
    height: 485px;
}
#container #box{
    margin:20px;
    padding: 30px;
}
#box div{
    display: flex;
}
#box label{
    font-size: 20px;
}
#box img{
    width:45px;
    height:30px;
    margin-top: -5px;
    margin-right: 1px;
}
#box div #mailimg{
    width:30px;
    height:30px;
    margin-right: 12px;
}
#box input{
    width:610px;
    height:25px;
    font-size: 17px;
    border-radius: 3px;
    border:none;
    border-bottom: 1px solid rgb(55, 55, 55);
    background-color:whitesmoke;

}

#box button{
    font-size: 20px;
    border-radius: 8px;
    width:130px;
    color:rgb(37, 36, 36);
}
#box button:hover{
    width: 140px;
    color:black;
}
#emailres{
    font-size: 19px;
    font-style: italic;
}
#passres{
    font-size:19px;
    font-style: italic;
}